@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Phantom";
	src: url("../public/fonts/Regular.woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Phantom";
	src: url("../public/fonts/Bold.woff2");
	font-weight: bold;
	font-style: normal;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Phantom", sans-serif;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	font-weight: normal;
}

* {
	box-sizing: border-box;
	scrollbar-width: thin;
}

:root {
	--navbar-padding: 0.5rem 1rem !important;
}

@media screen and (min-width: 768px) {
	:root {
		--navbar-padding: 0.75rem 5% !important;
	}
}

/* tailwind mixins */

@layer base {
	h1 {
		@apply text-4xl font-bold;
	}
	h2 {
		@apply text-3xl font-bold;
	}
	h3 {
		@apply text-2xl font-bold;
	}
	p,
	a {
		@apply text-lg text-gray-300;
	}
}

@layer components {
	.btn {
		@apply text-base font-normal text-gray-200;
	}
}
