.header {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80px;
}

.header h1 {
	font-weight: 600;
}

.nav {
	display: flex;
}

.nav a {
	padding: 0 0.5rem;
	text-transform: uppercase;
}
